.hero__section {
  min-height: 50vh;
}

.bloc__wrapper {
  flex-direction: column;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1240px;
}

.hero__punchline,
.hero__text {
  width: 90vw;
  max-width: 70ch;
  /* max-width: 1240px; */
}

.hero__punchline {
  position: relative;
  font-size: clamp(25px, 8vw, 48.83px);
  font-weight: 700;
  margin-bottom: var(--spaceMed);
}

.hero__punchline--glow {
  position: absolute;
  top: 0;
  left: 0;
  font-size: clamp(25px, 8vw, 48.83px);
  font-weight: 700;
  filter: blur(4px);
  animation: blur_animation 10s ease-in-out infinite;
}

@keyframes blur_animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.hero__text {
  line-height: 1.5;
}
